body {
    color: white;
    background-color:darkred;

}




.pf {
    height: 200px;
    width: 300px;
}

.fz {
    height: 200px;
    width: 300px;
}

.rush {
    height: 200px;
    width: 300px;
}